/* espacio para la pagina */
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-weight: bold;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  /* espacio de estilos para el banner de navegacion */
  
  .banner-navegacion {
      top: 0;
      width: 100%;
      background-color: rgb(253, 252, 252);
      position: fixed;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 10px 25px 4px rgba(245, 171, 245, 0.719)
  }
  
  .navegacion ul {
    list-style: none;
    display: flex;               /* Usamos flexbox para alinear horizontalmente */
    justify-content: center;     /* Centrar los elementos horizontalmente */
    text-align: center;
  }
  
  .navegacion ul li {
    margin: 0 10px;              /* Espaciado entre los elementos */
    display: inline;
  }
  
  .navegacion ul li a {
    color: #030303cc;              /* Color de texto */
    font-family:  "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
    text-decoration: none;       /* Eliminar subrayado */
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;          /* Espaciado interno para los enlaces */
    transition: background-color 0.4s ease; /* Transición suave en el fondo */
  }
  
  .navegacion ul li a:hover {
    background-color: #efa4efab;   /* Fondo oscuro al pasar el mouse */
    border-radius: 10px;           /* Bordes redondeados */
  }
  
  /* finaliza estilos banner de navegacion */
  
  /* Estilos para imagen logo */
  
  .proyect {  
    width: 300px;
    height: 70px; /* en auto mantiene la proporción de la imagen */
    /* opacity: 0.5; define la opacidad de la imagen */
  }


.classflex{
    margin-top: 80px;
    border-radius: 20px;
    display: inline-block;
    gap: 10px; /* espacio entre imágenes */
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    margin-bottom: 60px;
    border-radius: 20px;
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    height: auto;
}


.footer {
    background-color: #f4f0f0;
    padding: 30px 40px;
    text-align: center;
    font-size: 16px;
    color: #2b2929;
    border-top: 1px solid #c7c6c6;
  }
  
  .footer-content {
    /* max-width: 900px; */
    margin-left: 45%;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
    
  }
  
  .footer-links,
  .footer-social {
    padding-top: 0;
    margin-top: 0;
  }
  
  .footer-links a,
  .footer-social a {
    margin: 0 10px;
    color: #444;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover,
  .footer-social a:hover {
    color: #c144b2;
  }
  
  @media (max-width: 600px) {
    .footer-links,
    .footer-social {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .footer-links a,
    .footer-social a {
      margin: 5px 0;
    }
  }
  
  
  #contact {
    padding: 0px;
    margin-top: -250px;
    margin-left: 60px;
    padding-top: 0;
    background-color: #f9f7f7;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 30%;
    max-width: 400px;
    height: 50%;
  }
  
  form label {
    margin-bottom: 5px;
    display: inline;
    color: #555;
  }
  
  form input,
  form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  form input[type="submit"] {
    margin: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(247, 177, 232);
    color: rgb(7, 7, 7);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 3s ease;
  }
  form input[type="submit"]:hover {
    background-color: #f974f9fd; 
    color: #010101;
  }
  
  h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #434343;
  }
